<section class="pageTitleSection">
  <div class="container">
    <div class="pageTitleInfo">
      <h2>適合<%= @situation.condition %> 情境的遊戲</h2>
    </div>
  </div>
</section>

<%= render partial: "shared/game_list", locals:{games: @games}  %>