<section class="pageTitleSection">
  <div class="container">
    <div class="pageTitleInfo">
      <h2>編輯個人檔案</h2>
    </div>
  </div>
</section>

<%= render partial: "shared/user_form", locals:{user:@user}  %>

<%= link_to '返回', :back %>
