<!-- 顯示我關注的人的清單 -->
     <div>
       <h2>跟著做</h2>
       <% @followings.each do |user| %>
         <%= image_tag user.avatar, width: "80px", class: "rounded img-circle"%>
         <h5><%= link_to user.name, user_path(user) %></h5>
       <% end %>
     </div>
     <!-- 顯示關注我的人的清單 -->
     <div>
       <h2>粉絲</h2>
       <% @followers.each do |user| %>
         <%= image_tag user.avatar, width: "80px", class: "rounded img-circle"%>
         <h5><%= link_to user.name, user_path(user) %></h5>
       <% end %>
     </div>
