<% link_attr = game.is_favorited?(current_user) ?
              {
                path: unfavorite_game_path(game),
                button_class: "btn-outline-primary",
                desc: "移出收藏"
              } :
              {
                path: favorite_game_path(game),
                button_class: "btn-danger",
                desc: "加入收藏"
              } %>

<%= link_to link_attr[:path], remote: current_user != nil, method: :post, id: "game-" + game.id.to_s do %>
  <button type="button" class="btn <%= link_attr[:button_class] %> btn-pill">
    <i class="fas fa-heart" aria-hidden="true"><span><%= link_attr[:desc] %></span></i>
  </button>
<% end %>
