
  <%= form_tag search_games_path, method: :get do %>
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" name="query_string" placeholder="搜尋遊戲標題/道具/內容/標籤">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-warning">
          <strong>找&nbsp;遊&nbsp;戲</strong>
        </button>
      </span>
    </div>
  <% end %>
