<%= form_tag search_tags_path, method: :get do %>
  <div class="input-group input-group-sm">
    <input type="text" class="form-control" name="query_string" placeholder="關鍵字...">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-success">
        <strong>找&nbsp;標&nbsp;簽</strong>
      </button>
    </span>
  </div>
<% end %>