<section class="pageTitleSection">
  <div class="container">
    <div class="pageTitleInfo">
      <h2>新進遊戲</h2>
    </div>
  </div>
</section>

<%= render partial: "shared/game_list", locals:{games:@games}  %>
