<section class="pageTitleSection">
  <div class="container">
    <div class="pageTitleInfo">
      <h2>發表新遊戲</h2>
    </div>
  </div>
</section>

<%= render partial: "shared/game_form", locals:{game:@game}  %>
