<section class="pageTitleSection">
  <div class="container">
    <div class="pageTitleInfo">
      <h2>
        <% if @games.blank? %>
          沒有符合資料！<br>
          <%= link_to("首頁", games_path, class: "btn btn-sm btn-success") %>
        <% else %>
          <strong>
          找到 <%= @games.count %>篇符合 "<%= @q %>" 的遊戲單
          </strong>
        <% end %>
      </h2>
    </div>
  </div>
</section>

<section class="mainContent full-width clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: "shared/game_list", locals:{games:@games}  %>
      </div>
    </div>
  </div>
</section>   
