<section class="pageTitleSection">
  <div class="container">
    <div class="pageTitleInfo">
      <h2><%= @game.title %></h2>
    </div>
  </div>
</section>
<br>
<%= render partial: "shared/game", locals:{game: @game}  %>
