<section class="pageTitleSection">
  <div class="container">
    <div class="pageTitleInfo">
      <h2>適合6~7歲的遊戲</h2>
    </div>
  </div>
</section>

<section class="mainContent full-width clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: "shared/game_list", locals:{games:@games}  %>
      </div>
    </div>
  </div>
</section>   
