<section class="mainContent full-width clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: "shared/game_list", locals:{games:@games}  %>
      </div>
    </div>
  </div>
</section>   