body {
  padding-top: 90px;
  font-family: Meiryo, "微軟正黑體", "Microsoft JhengHei", Verdana, Arial, sans-serif;
}

.click div:hover{
  -webkit-transform: scale(1.1);
}

.inline{
  display: inline-block;
}

.counter {
  width: 70px;
  height: 70px;
  text-align: center;
}

.un-linkline{
  text-decoration:none;
}

/*--social-share-button--*/

.pd-des-container-bottom-line {
  width: 100%;
}

.product-show__social-share-button {
  position: absolute;
}

$size: 24px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
    // filter: grayscale(100%);        //禁掉就變彩色
    // filter: gray;     //禁掉就變彩色
  }
}