<p>哈囉 <%= @resource.email %>!</p>

<p>若您要更改密碼,請點擊以下連結：</p>

<p><%= link_to '更改我的密碼', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>若您並未提出要求,請不用理會本通知,謝謝！</p>
<p>除非您點擊連結重設密碼,否則您的密碼不會改變.</p>
